.main{
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    padding-bottom: 500px;
    /* justify-content: start; */
    align-items: center;
}

.item {
    border: 2px solid black;
    padding: 30px 20px 30px 40px;
    margin: 20px;
    width: 40px;
    justify-content: end;
    
    
    
}



/* to park the cars at the bottom left we will use justify-content and alignitems flexbox properties */

